{% extends 'tools/tools_base.html' %}

{% load static %}

{% block title %}WebSocket测试{% endblock %}

{% block css %}
    <style>
        #msg_list {
            padding: 8px 16px;
            height: 70vh;
            font-size: 14px;
            overflow: auto;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'tools/aside.html' %}
<main>
    <div class="container">
        <h1>WebSocket测试</h1>
        <div class="flex mt-2">
            <label class="group fullwidth">
                <span class="static">地址</span>
                <input id="input_server" class="input">
            </label>
            <div class="group" style="margin-left: 1em;flex-shrink: 5">
                <button class="button" onclick="connect(this)">连接</button>
                <button class="button" onclick="disconnect(this)">断开</button>
                <button class="button" onclick="cleanup(this)">清空</button>
            </div>
        </div>
        <div id="msg_list" class="tile bordered mt-2"></div>
        <div class="group fullwidth mt-2">
            <span class="static">消息</span>
            <label for="input_msg"></label><input id="input_msg" class="input">
            <button class="button primary" onclick="send()">发送</button>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
    <script src="{% static 'tools/js/websocket.js' %}"></script>
    <script>
        function hrefForNoTLS(path) {
            window.location.href = 'http://' + window.location.host + path;
        }
    </script>
    <script>
        const _hmt = _hmt || [];
        let hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e3d5bc397b23c3f6a8036739dae1557b";
        let s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);

        let tools = document.querySelectorAll('.side-nav li');
        for (let i = 0; i < tools.length; i++) {
            let node = tools[i];
            if (node.querySelector('a').getAttribute('href').endsWith(document.location.pathname)) {
                node.classList.add('active');
                break
            }
        }
    </script>
{% endblock %}
