<nav>
  <div class="container-fluid">
      <div class="row">
          <div class="col shadow-sm">
              <nav class="navbar p-0 navbar-expand-sm navbar-light bg-white">
                  <a class="navbar-brand" href="{% url 'index' %}">misldy.top</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                          data-bs-target="#mynavbar">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="mynavbar">
                      <ul class="navbar-nav me-auto">
                          <li class="nav-item">
                              <a class="nav-link" href="#">博客</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{% url 'tools:json' %}">工具</a></li>
                          <li class="nav-item">
                              <a class="nav-link" href="javascript:void(0)">链接</a>
                          </li>
                      </ul>
                      <ul class="navbar-nav nav-item dropdown" style="float: right; margin-right: -15px">
                        {% if user.is_authenticated %}
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                             data-bs-toggle="dropdown">
                              {{ user.username }}
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              {% comment %} <a class="dropdown-item" href="{% url " usercontrol:edit" user.id %}">User</a> {% endcomment %}
                              {% comment %} <a class="nav-link" href="{% url 'messagelog:post_message_log' %}">comment</a> {% endcomment %}
                              {% comment %} <a class="dropdown-item" href="{% url 'usermgt:logout' user.id %}">注销登录</a> {% endcomment %}
                              <a class="dropdown-item" href="{% url "usermgt:logout" %}">注销登录</a>
                              <hr class="dropdown-divider">
                              {% comment %} <a class="dropdown-item" href="#" onclick="user_delete()">Delete</a> {% endcomment %}
                          </div>
                        {% else %}
                          <a class="nav-link" href="{% url 'usermgt:login' %}">登录</a>
                          <a class="nav-link" href="{% url 'usermgt:register' %}">注册</a>
                        {% endif %}
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
  </div>
</nav>